<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarif</title>
</head>
<body>
    <h1><i>Çikolata Küpleri</i></h1>
    <article style="font-size: large;">
    <p><i>çikolatalı ve çam fıstıklı tadımlık lezzetler... Yanlızca 4 malzeme ile hazırlanan çikolata küpleri, renkli kağıtlarla veya kürdan batırılarak servis edilir. Özellikle kalabalık sofralarda yer verilen çikolata küpleri, doğum günü gibi özel etkinliklerdede sunulabilir</p></i>
    <p><b>Tarif:</b> Rukiye Beyza SARIKAYA</p></article>
    <section>
        <p><b class="t">> Kaç Kişilik:</b> 4 Kişilik    <b class="t">> Hazırlanma Süresi:</b> 30 Dakika    <b class="t">> Pişirme Süresi:</b> 10 Dakika</p>
    </section><br>
    <section>
        <article>
            <strong class="b">Tarif İçin Kullanılacak Malzemeler:</strong>
            <ul>
                <li>350 Gr Bitter Çikolata</li>
                <li>150 Ml Krema</li>
                <li>1 Çorba Kaşığı Terayağı</li>
                <li>15 Gr Şam Fıstığı</li>
            </ul>
        </article>
    </section>
    <section>
        <article>
            <strong class="b">Tarif İçin Kullanılacak Malzemeler:</strong>
            <ol>
                <li>Bitter çikolatayı eritin</li>
                <li>Eriyen çikolatanın üzerine krema ve tereyağını ekleyip iyice karıştırın ve tencereyi tezgaha alın</li>
                <li>Şam fıstıklarını çok az dövüp irili ufaklı parçalara bölün</li>
                <li>Fıstıkları çikolataya döküp karıştırın</li>
                <li>Hazırladığınız çikolatayı tepsiye bir yağlı kağıt koyup dökün</li>
                <li>Buzdolabında 2 saat bekleyin</li>
                <li>Çıkartık kare parçalara bölün</li>
                <li>
                    <audio controls>
                    <source src="../audio/çök_esma_çök.mp3" type="audio/mp3">
                  </audio>
                </li>
            </ol>
        </article>
    </section>
</body>
</html>